@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ============================================================================================
                                      Common Css Start Here
==============================================================================================*/

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
a,
div,
img,
li {
  padding: 0;
  margin: 0;
}

:root {
  --primary-Color: #ff4655;
  --secondary: #212121;
  --white: #fff;
  --Barlow-Condensed: "Barlow Condensed", sans-serif;
  --Oswald: "Oswald", sans-serif;
}

body {
  background-color: #000000;
}

/* ============================================================================================
                                      Common Css End Here
==============================================================================================*/

/* ==============================================================================================
                                            Nav Sec Css Start Here
=================================================================================================*/

.cutome-nav button {
  background-color: var(--white);
  border: 0;
  outline: 0;
}

.cutome-nav .nav-logo {
  color: var(--white);
  font-family: var(--Barlow-Condensed);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.05px;
  display: flex;
  column-gap: 8px;
}

.cutome-nav .custome-menu {
  column-gap: 20px;
}

.cutome-nav .custome-menu a {
  color: var(--white);
  font-family: var(--Oswald);
  font-size: 16px;
  font-weight: 400;
  margin-right: 20px;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}

.cutome-nav .custome-menu a:hover {
  color: #ddd;
}

.cutome-nav .round {
  width: 9.002px;
  height: 9px;
  background-color: var(--primary-Color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  align-self: end;
  margin-bottom: 14px;
}

.cutome-nav .nav-right .fa-globe {
  color: var(--white);
  margin-right: 25px;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}

.cutome-nav .nav-right .fa-globe:hover {
  color: var(--primary-Color);
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.cutome-nav .nav-right .signin {
  color: var(--white);
  font-family: var(--Oswald);
  font-size: 16px;
  font-weight: 400;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}

.cutome-nav .nav-right .signin:hover {
  color: var(--primary-Color);
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.cutome-nav .nav-right .fa-right-to-bracket {
  margin-right: 7px;
}

.cutome-nav .nav-right .fa-magnifying-glass {
  color: var(--white);
  margin-left: 30px;
  cursor: pointer;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}

.cutome-nav .nav-right .fa-magnifying-glass:hover {
  color: var(--primary-Color);
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

/* ==============================================================================================
                                            Nav Sec Css End Here
=================================================================================================*/

/* ===============================================================================================
                                       Hero Sec Css Start Here
=================================================================================================*/

#hero-sec {
  padding: 200px 0;
  background: url(/images/banner\ 1.png);
  background-repeat: no-repeat;
  background-size: 113% 87%;
}

.hero-left {
  padding-top: 121px;
}

#hero-sec .hero-left h4 {
  color: var(--white);
  font-family: var(--Oswald);
  font-size: 27px;
  font-weight: 400;
  letter-spacing: 2.7px;
}

#hero-sec .hero-left h1 {
  color: var(--white);
  font-family: var(--Oswald);
  font-size: 60px;
  font-weight: 600;
  position: relative;
}

#hero-sec .hero-left h1::after {
  position: absolute;
  content: "";
  width: 90px;
  height: 4px;
  background-color: var(--white);
  bottom: 15%;
  right: -8%;
}

#hero-sec .hero-left h1 span {
  width: 90px;
  height: 4px;
  background-color: var(--white);
}

#hero-sec .hero-left p {
  color: var(--white);
  font-family: var(--Oswald);
  font-size: 16px;
  font-weight: 400;
  padding-top: 5px;
  padding-bottom: 48px;
  /* padding-right: 132px; */
}

#hero-sec .hero-left button {
  border: 0;
  background-color: var(--white);
  color: #121212;
  font-family: var(--Oswald);
  font-size: 16px;
  padding: 13px 0;
  padding-left: 24px;
  padding-right: 15px;
  font-weight: 400;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}

#hero-sec .hero-left button:hover {
  background-color: var(--primary-Color);
  transform: translateY(-8%);
  -webkit-transform: translateY(-8%);
  -moz-transform: translateY(-8%);
  -ms-transform: translateY(-8%);
  -o-transform: translateY(-8%);
  color: var(--white);
}

#hero-sec .hero-left button span {
  padding-left: 7px;
}

.hero-right picture img {
  display: none;
}

#hero-sec .hero-icon {
  margin-top: 290px;
}

#hero-sec .hero-icon a {
  display: inline-block;
  margin-right: 20px;
}

#hero-sec .hero-icon a {
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: var(--white);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: #121212;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}

#hero-sec .hero-icon a:nth-child(1):hover {
  background-color: #3b5998;
  color: #fff;
  transform: translateY(-10%);
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  -o-transform: translateY(-10%);
}

#hero-sec .hero-icon a:nth-child(2):hover {
  background-color: #0077b5;
  color: #fff;
  transform: translateY(-10%);
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  -o-transform: translateY(-10%);
}

#hero-sec .hero-icon a:nth-child(3):hover {
  background-color: #1da1f2;
  color: #fff;
  transform: translateY(-10%);
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  -o-transform: translateY(-10%);
}

#hero-sec .hero-icon a:nth-child(4):hover {
  background-color: #bc2a8d;
  color: #fbad50;
  transform: translateY(-10%);
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  -o-transform: translateY(-10%);
}

/* ===============================================================================================
                                       Hero Sec Css End Here
=================================================================================================*/

/* =============================================================================================
                                      About Part Css Start Here
===============================================================================================*/
#about-part {
  padding: 100px 0;
}

#about-part .about-heading {
  display: flex;
  align-items: center;
}

#about-part .about-left picture img {
  width: 700px;
  height: 372px;
}

#about-part .about-left {
  position: relative;
  z-index: 1;
}

#about-part .about-img-border {
  top: -3px;
  left: -3px;
  position: absolute;
  width: 163px;
  height: 163px;
  background-color: var(--primary-Color);
  z-index: -1;
}

#about-part .about-heading h3 {
  color: var(--white);
  font-family: var(--Oswald);
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 2.66px;
  position: relative;
}

#about-part .about-heading h3::after {
  position: absolute;
  content: "";
  width: 120px;
  height: 4px;
  background-color: var(--primary-Color);
  bottom: 6px;
  right: 243px;
}

#about-part .about-right .right-heading h3 {
  color: var(--white);
  font-family: var(--Oswald);
  font-size: 27px;
  font-weight: 600;
  letter-spacing: 0.81px;
  padding-bottom: 7px;
}

#about-part .about-right .list-1 i {
  color: var(--primary-Color);
  width: 15px;
}

#about-part .about-right .list-1 span {
  color: var(--white);
  font-family: var(--Barlow-Condensed);
  font-size: 18px;
  padding-left: 10px;
  font-weight: 400;
  padding-bottom: 10px;
}

#about-part .about-right p {
  color: var(--white);
  font-family: var(--Oswald);
  font-size: 18px;
  padding-bottom: 25px;
  font-weight: 400;
  padding-top: 3px;
}

#about-part .about-right .about-btn button {
  color: var(--white);
  font-family: var(--white);
  font-size: 16px;
  font-weight: 400;
  padding: 13px 0;
  padding-left: 22px;
  padding-right: 12px;
  background: #212121;
  border: 0;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}

#about-part .about-right .about-btn button:hover {
  background-color: var(--primary-Color);
  color: var(--white);
  transform: translateX(7%);
  -webkit-transform: translateX(7%);
  -moz-transform: translateX(7%);
  -ms-transform: translateX(7%);
  -o-transform: translateX(7%);
}

#about-part .about-right .about-btn i {
  margin-left: 7px;
}

#about-part .item h4 {
  color: var(--white);
  font-family: var(--Barlow-Condensed);
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 1.8px;
  position: relative;
}

#about-part .item h4::after {
  position: absolute;
  bottom: 15%;
  right: 4%;
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--primary-Color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#about-part .item .h4 {
  position: relative;
}
#about-part .item .h4::after {
  position: absolute;
  bottom: 15%;
  right: 0;
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--primary-Color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#about-part .item p {
  color: var(--white);
  font-family: var(--Oswald);
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.36px;
  padding-top: 18px;
}

#about-part .item {
  padding: 26px 63px;
  border-radius: 0px 50px;
  background: #212121;
}
/* =============================================================================================
                                      About Part Css End Here
===============================================================================================*/

/* ============================================================================================
                                    Game Part Css Start Here
==============================================================================================*/

#game-part {
  background-color: #191919;
  padding-top: 115px;
  padding-bottom: 90px;
}
#game-part .game-heading h3 {
  color: var(--white);
  font-family: var(--Barlow-Condensed);
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 2.66px;
  position: relative;
}

#game-part .game-heading h3::after {
  position: absolute;
  content: "";
  width: 105px;
  height: 3px;
  background-color: var(--primary-Color);
  bottom: 9%;
  right: 25%;
}

#game-part .game-content {
  position: relative;
  padding-top: 80px;
}

#game-part .game-content .game-1 {
  width: 651px;
  height: 390px;
  background-color: var(--primary-Color);
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  position: relative;
}

.game-1_overlay {
  top: -65px;
  left: 83px;
  position: absolute;
}
.game-1_overlay picture img {
  width: 366px;
  height: 535px;
}

#game-part .game-2 {
  width: 651px;
  height: 390px;
  background: url(/images/trend-games3\ 1.png);

  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

#game-part .game-content .side-icon {
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
}

#game-part .game-content .side-icon .left-icon {
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 18px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-bottom: 20px;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  cursor: pointer;
}

#game-part .game-content .side-icon .left-icon:hover {
  background-color: #ffffff10;
  color: var(--primary-Color);
}

#game-part .game-content .side-icon .right-icon {
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 18px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  cursor: pointer;
}

#game-part .game-content .side-icon .right-icon:hover {
  background-color: #ffffff10;
  color: var(--primary-Color);
}

/* ============================================================================================
                                    Game Part Css End Here
==============================================================================================*/

/* =============================================================================================
                                 Streaming Part Css Start Here
================================================================================================*/
#streaming-part {
  padding: 90px 0;
}

#streaming-part .streaming-heading h3 {
  color: var(--white);
  font-family: var(--Oswald);
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 2.66px;
  position: relative;
}

#streaming-part .streaming-heading h3:after {
  position: absolute;
  content: "";
  background-color: var(--primary-Color);
  width: 120px;
  height: 3px;
  bottom: 5px;
  right: 196px;
}

.streaming-content {
  column-gap: 20px;
  padding-top: 78px;
}

.streaming-content .video-1 {
  width: 427px;
  height: 275px;
  background: url(/images/tour-1\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 25px;
  padding-bottom: 23px;
  padding-top: 111px;
  cursor: pointer;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}

.streaming-content .video-1:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.streaming-content .video-1:hover h3 {
  color: red;
}

.streaming-content .video-1 .video-content .video-play-btn i {
  color: var(--white);
  font-size: 70px;
  transform: translate(159%, -21%);
  -webkit-transform: translate(159%, -21%);
  -moz-transform: translate(159%, -21%);
  -ms-transform: translate(159%, -21%);
  -o-transform: translate(159%, -21%);
}
.streaming-content .video-1 .video-content .video-title h3 {
  color: var(--white);
  font-family: var(--Barlow-Condensed);
  font-size: 22px;
  font-weight: 600;
  padding-top: 24px;
}

.streaming-content .video-1 .video-content .video-description h4 {
  color: var(--white);
  font-family: var(--Oswald);
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.96px;
  padding-top: 5px;
}

.streaming-content .video-1 .video-content .video-description p {
  color: var(--white);
  font-family: var(--Oswald);
  font-size: 16px;

  font-weight: 400;
  position: relative;
}

.streaming-content .video-1 .video-content .video-description p::before {
  position: absolute;
  content: "";
  left: -13px;
  top: 12px;
  width: 5px;
  height: 4.919px;
  background-color: var(--primary-Color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.streaming-content .video-1 .video-content .video-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.streaming-content .video-1:nth-child(2) {
  background: url(/images/tour-2\ 1.png);
}

.streaming-content .video-1:nth-child(3) {
  background: url(/images/tour-3\ 1.png);
}

/* ======================================================
                  *Match Part Css Start Here
=========================================================*/

.match-part {
  align-items: center;
}

.match-part .match-heading h4 {
  padding-top: 60px;
  color: var(--white);
  font-family: var(--Barlow-Condensed);
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 2.25px;
  text-align: center;
  padding-bottom: 50px;
}

.match-part .team {
  background-color: #212121;
  padding: 10px 0;
  padding-right: 82px;
  -webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  transition: all linear 0.1s;
  -webkit-transition: all linear 0.1s;
  -moz-transition: all linear 0.1s;
  -ms-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
  cursor: default;
}

.match-part .team:hover {
  background-color: #312f2f;
}

.match-part .team .team-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.match-part .team .team-content .title h5 {
  color: var(--white);
  font-family: var(--Barlow-Condensed);
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.96px;
}

.match-part .point h4 {
  color: var(--white);
  font-family: var(--Oswald);
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 6px;
  padding-top: 39px;
  text-align: center;
}

#team-2 {
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 25% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 25% 100%);
  padding-right: 0;
  padding-left: 78px;
}

/* ======================================================
                  *Match Part Css End Here
=========================================================*/

/* =============================================================================================
                                 Streaming Part Css End Here
================================================================================================*/

/* =============================================================================================
                                        Sale Part Css Start Here
===============================================================================================*/

#sale_part {
  padding-top: 90px;
  padding-bottom: 50px;
  background-color: #191919;
}
#sale_part .sale_heading h3 {
  color: var(--white);
  font-family: var(--Barlow-Condensed);
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 2.66px;
  position: relative;
}

#sale_part .sale_heading h3:after {
  position: absolute;
  right: 84px;
  bottom: 9px;
  content: "";
  width: 105px;
  height: 3px;
  background-color: var(--primary-Color);
}

#sale_part .sale-game-item h3 {
  color: #fff;

  font-family: var(--Barlow-Condensed);
  font-size: 20px;
  padding-top: 18px;
  font-weight: 600;
  letter-spacing: 1.54px;
}

#sale_part .sale-game-item h4 {
  color: #666;
  font-family: var(--Oswald);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.6px;
  padding: 20px 0;
}

#sale_part .sale-game-item .game-price {
  align-items: center;
  display: flex;
}

#sale_part .sale-game-item .game-price h5 {
  color: var(--white);
  font-family: Oswald;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.4px;
  background-color: var(--primary-Color);
  padding: 4px;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}

#sale_part .sale-game-item .game-price span {
  color: #666;
  font-family: var(--Oswald);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.96px;
  text-decoration: line-through;
  padding-left: 10px;
}

#sale_part .sale-game-item .game-price p {
  color: var(--white);

  font-family: var(--Oswald);
  font-size: 16px;
  padding-left: 10px;
  font-weight: 400;
}

#sale_part .game {
  position: relative;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}

#sale_part .game:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

#sale_part .game:hover h5 {
  background-color: #fbad50;
}

#sale_part .game:hover .plus {
  background-color: #000000;
  opacity: 1;
}

.plus {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--white);
  background-color: #000000;
  padding: 1px 6px;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 15px;
  margin-top: 15px;
  transition: all linear 0.1s;
  -webkit-transition: all linear 0.1s;
  -moz-transition: all linear 0.1s;
  -ms-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
  opacity: 0;
}

/* =============================================================================================
                                        Sale Part Css End Here
===============================================================================================*/

/* ============================================================================================
                                      Category Part Css Start Here
===============================================================================================*/
#category_part {
  background-color: #212121;
  padding: 80px 0;
}

.category-right {
  width: 276px;
  height: 305px;
  position: relative;
}

.category-right:hover .img-3 {
  left: -24px;
}

.category-right:hover .img-4 {
  right: -16px;
}

.category-right .img-1 {
  position: absolute;
}

.category-right .img-2 {
  position: absolute;
  right: 0;
}

.category-right .img-3 {
  position: absolute;
  left: 24px;
  transform: translateY(-4%);
  -webkit-transform: translateY(-4%);
  -moz-transform: translateY(-4%);
  -ms-transform: translateY(-4%);
  -o-transform: translateY(-4%);
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}

.category-right .img-4 {
  position: absolute;
  right: 16px;
  transform: translateY(-4%);
  -webkit-transform: translateY(-4%);
  -moz-transform: translateY(-4%);
  -ms-transform: translateY(-4%);
  -o-transform: translateY(-4%);
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}

.category-right .img-5 {
  width: 167px;
  height: 370px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
/* ============================================================================================
                                      Category Part Css End Here
===============================================================================================*/

/* ============================================================================================
                                      Accesories Part Css Start Here
===============================================================================================*/
#accesories-part {
  padding: 90px 0;
}

#accesories-1 {
  position: relative;
}

#accesories-1 .left-icon {
  position: absolute;
  color: var(--white);
  padding: 10px 17px;
  background-color: var(--primary-Color);
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  bottom: 48%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}

#accesories-1 .left-icon:hover {
  background-color: #9c3740;
  transform: translateX(-60%);
  -webkit-transform: translateX(-60%);
  -moz-transform: translateX(-60%);
  -ms-transform: translateX(-60%);
  -o-transform: translateX(-60%);
}

#accesories-4 {
  position: relative;
}

#accesories-4 .right-icon {
  position: absolute;
  color: var(--white);
  padding: 10px 17px;
  background-color: var(--primary-Color);
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  bottom: 48%;
  right: 0;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}

#accesories-4 .right-icon:hover {
  background-color: #9c3740;
  transform: translateX(60%);
  -webkit-transform: translateX(60%);
  -moz-transform: translateX(60%);
  -ms-transform: translateX(60%);
  -o-transform: translateX(60%);
}

#accesories-part .accesories-heading h3 {
  color: var(--white);
  font-family: var(--Oswald);
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 2.66px;
  position: relative;
  margin-bottom: 102px;
}

#accesories-part .accesories-heading h3::after {
  position: absolute;
  content: "";
  bottom: 6px;
  left: 225px;
  width: 120px;
  height: 3px;
  background-color: var(--primary-Color);
}

#accesories-part .accesories {
  background-color: #212121;
  padding: 22px 0;
}

.accesories-img {
  padding: 0 37px;
}

#accesories-part .accesories .accesories-price h4 {
  color: var(--white);
  font-family: var(--Oswald);
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.4px;
}

#accesories-part .accesories .accesories-title {
  padding-top: 45px;
}

#accesories-part .accesories .accesories-title h3 {
  color: var(--white);
  text-align: center;
  font-family: var(--Oswald);
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 7px;
}

#accesories-part .accesories .accesories-title a {
  color: #ff4655;
  font-family: var(--Oswald);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  cursor: pointer;
  display: inline-block;
}

#accesories-part .accesories .accesories-title a:hover {
  color: rgb(255, 230, 0);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/* ============================================================================================
                                     Accesories Part Css End Here
===============================================================================================*/

/*=============================================================================================
                                      Team Part Css Start Here       
================================================================================================*/

#team-part {
  background-color: #191919;
  padding: 100px 0;
}

#team-part .team-heading h4 {
  color: var(--white);
  font-family: var(--Barlow-Condensed);
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 2.66px;
  position: relative;
  margin-bottom: 50px;
}

#team-part .team-heading h4:after {
  position: absolute;
  content: "";
  right: 91px;
  bottom: 8px;
  width: 105px;
  height: 3px;
  background-color: var(--primary-Color);
}

#team-part .team {
  background: url(/images/team-1\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 650px;
  height: 428px;
  position: relative;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  overflow: hidden;
  margin-bottom: 29px;
}

#team-part .team-2 {
  background: url(/images/team-2\ 1.png);
}

#team-part .team-3 {
  background: url(/images/team-3\ 1.png);
}

#team-part .team-4 {
  background: url(/images/team-4\ 1.png);
}

#team-part .team-title {
  position: absolute;
  bottom: 0;
  padding-left: 30px;
  padding-bottom: 30px;
}

#team-part .team-title h3 {
  color: var(--white);
  font-family: var(--Barlow-Condensed);
  font-size: 30px;
  font-weight: 600;
}

#team-part .team-content {
  padding-top: 39px;
  padding-bottom: 30px;
  padding-left: 30px;
  border: 1px solid #00000000;
  background: #25242461;
  position: absolute;
  bottom: 0;
  display: none;
  animation: slide-in-bck-bottom 0.4s linear 0s 1 normal none;
  -webkit-animation: slide-in-bck-bottom 0.4s linear 0s 1 normal none;
}

.team-content h3 {
  color: var(--white);
  font-family: var(--Barlow-Condensed);
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 5px;
  animation: shutter-in-top 0.9s linear 0s 1 normal none;
  -webkit-animation: shutter-in-top 0.9s linear 0s 1 normal none;
}

#team-part .team-content p {
  color: var(--white);
  font-family: var(--Oswald);
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 19px;
  animation: shutter-in-top 0.9s linear 0s 1 normal none;
  -webkit-animation: shutter-in-top 0.9s linear 0s 1 normal none;
  padding-right: 214px;
}

#team-part .team-content .team-btn {
  display: inline-block;
  color: var(--white);
  font-family: var(--Oswald);
  font-size: 16px;
  font-weight: 400;
  background-color: var(--primary-Color);
  padding: 4px 20px;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  animation: scale-up-center 0.6s linear 0s 1 normal none;
  -webkit-animation: scale-up-center 0.6s linear 0s 1 normal none;
}

#team-part .team-content .team-btn:hover {
  background-color: #a5343d;
}

.team-icon {
  padding-right: 58px;
  animation: fade-in 1s linear 0s 1 normal none;
  -webkit-animation: fade-in 1s linear 0s 1 normal none;
}

.team-icon a {
  background-color: var(--primary-Color);
  width: 35px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: var(--white);
  margin-left: 20px;
  display: inline-block;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}

.team-icon a:nth-child(1):hover {
  color: var(--white);
  background-color: #1877f2;
  transform: translateX(10%);
  -webkit-transform: translateY(-10%);
  -moz-transform: translateX(10%);
  -ms-transform: translateX(10%);
  -o-transform: translateX(10%);
}

.team-icon a:nth-child(2):hover {
  color: var(--white);
  background-color: #0077b5;
  transform: translateX(10%);
  -webkit-transform: translateY(-10%);
  -moz-transform: translateX(10%);
  -ms-transform: translateX(10%);
  -o-transform: translateX(10%);
}

.team-icon a:nth-child(3):hover {
  color: var(--white);
  background-color: #1da1f2;
  transform: translateX(10%);
  -webkit-transform: translateY(-10%);
  -moz-transform: translateX(10%);
  -ms-transform: translateX(10%);
  -o-transform: translateX(10%);
}

#team-part .team:hover .team-content {
  display: block;
}

#team-part .team:hover {
  filter: none;
  -webkit-filter: none;
}

#team-part .team:hover .team-title {
  display: none;
}

/**==================== Keyframe ===================**/

@keyframes shutter-in-top {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slide-in-bck-bottom {
  0% {
    transform: translateZ(700px) translateY(300px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*===============================================================================================
                                      Team Part Css End Here       
================================================================================================*/

/*===============================================================================================
                                      Faq Part Css Start Here       
================================================================================================*/
#faq-part {
  padding-top: 55px;
  padding-bottom: 100px;
}

#faq-part .faq-heading h3 {
  color: var(--white);
  font-family: var(--Barlow-Condensed);
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 3.8px;
  position: relative;
  margin-bottom: 92px;
}

#faq-part .faq-heading h3::after {
  position: absolute;
  bottom: 9px;
  right: 77px;
  content: "";
  width: 128px;
  height: 3px;
  background-color: var(--primary-Color);
}

.question .question-item {
  display: flex;
}

/**=========================================**/

.question-item-1 {
  padding-right: 76px;
  border-bottom: 1.5px solid #666;
  border-right: 1.5px solid #666;
  padding-bottom: 75px;
}

.question-item-1 p {
  padding-right: 10px;
}

.question-item-2 {
  padding-left: 80px;
  border-bottom: 1.5px solid #666;
  padding-bottom: 75px;
}

.question-item-3 {
  padding-top: 76px;
  padding-right: 76px;
  border-right: 1.5px solid #666;
}

.question-item-4 {
  padding-top: 76px;
  padding-left: 80px;
}

/**=========================================**/

.question .number h6 {
  color: var(--white);
  font-family: var(--Barlow-Condensed);
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 3.8px;
  background-color: var(--primary-Color);
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 30px;
  padding-right: 30px;
}

.description {
  padding-left: 42px;
}

.description h4 {
  color: var(--white);
  font-family: var(--Barlow-Condensed);
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 11px;
  transition: all linear 0.1s;
  -webkit-transition: all linear 0.1s;
  -moz-transition: all linear 0.1s;
  -ms-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
  cursor: pointer;
}

.description h4:hover {
  color: var(--primary-Color);
}

.description p {
  color: #666;
  font-family: var(--Oswald);
  font-size: 14px;
  font-weight: 400;
}

/*===============================================================================================
                                      Faq Part Css End Here       
================================================================================================*/

/**==============================================================================================
                                  *!  Subscribe Part Css Start Here
/**==============================================================================================*/
#subscribe-part {
  padding: 34px 0;
  padding-left: 30px;
  background-color: var(--primary-Color);
}

#subscribe-part .subscribe-heading h3 {
  color: var(--white);
  font-family: var(--Barlow-Condensed);
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}

#subscribe-part .subscribe-input input {
  position: absolute;
  width: 300px;
  padding: 10px 0;
  padding-left: 20px;
  border: 0;
  outline: 0;
  background-color: var(--white);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

#subscribe-part .subscribe-input input::placeholder {
  color: #666;
  font-family: var(--Barlow-Condensed);
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

#subscribe-part .sub-btn button {
  position: relative;
  left: 78%;
  bottom: 0;
  border: 0;

  background-color: #000000;
  color: #fff;
  font-family: var(--Barlow-Condensed);
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 28px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transition: all linear 0.1s;
  -webkit-transition: all linear 0.1s;
  -moz-transition: all linear 0.1s;
  -ms-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
}

#subscribe-part .sub-btn button:hover {
  background-color: #222121;
  transform: translateX(-4%);
  -webkit-transform: translateX(-4%);
  -moz-transform: translateX(-4%);
  -ms-transform: translateX(-4%);
  -o-transform: translateX(-4%);
}
/**==============================================================================================
                                  *!  Subscribe Part Css End Here
/**==============================================================================================*/

/* ==============================================================================================
                                    * Footer Part Css Start Here
=================================================================================================*/
#footer-part {
  padding-top: 30px;
  padding-bottom: 70px;
  background-color: #191919;
}

#footer-part .footer-left .logo a {
  color: var(--white);
  font-family: var(--Barlow-Condensed);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.05px;
  position: relative;
}

#footer-part .footer-left .logo a::after {
  position: absolute;
  right: -18px;
  bottom: 6px;
  content: "";
  width: 9.002px;
  height: 9px;
  background-color: var(--primary-Color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#footer-part .footer-left p {
  color: #666;
  font-family: var(--Oswald);
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 60px;
}

#footer-part .footer-icon a {
  display: inline-block;
  width: 50px;
  height: 50px;
  color: var(--white);
  background-color: #212529;
  line-height: 50px;
  text-align: center;
  font-size: 26px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 10px;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}

#footer-part .footer-icon a:hover {
  background-color: var(--primary-Color);
  transform: translateY(-10%);
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  -o-transform: translateY(-10%);
}

#footer-part .footer-list {
  display: flex;
  column-gap: 50px;
  padding-top: 14px;
  padding-left: 10px;
}

#footer-part .footer-list ul li {
  color: var(--white);
  font-family: var(--Barlow-Condensed);
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1.75px;
  padding-bottom: 30px;
}

#footer-part .footer-list ul li a {
  color: #666;
  font-family: var(--Oswald);
  font-size: 16px;
  font-weight: 400;
  transition: all linear 0.1s;
  -webkit-transition: all linear 0.1s;
  -moz-transition: all linear 0.1s;
  -ms-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
}

#footer-part .footer-list ul li a:hover {
  color: var(--primary-Color);
}

#footer-part .footer-gallery .gallery-heading h3 {
  color: var(--white);
  font-family: var(--Barlow-Condensed);
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1.75px;
  padding-bottom: 30px;
}

#footer-part .footer-gallery {
  padding-left: 73px;
  padding-top: 14px;
}

/* ==============================================================================================
                                    * Footer Part Css End Here
=================================================================================================*/

/**==============================================================================================
                                  ** Copyright Part Css Start Here
**==============================================================================================*/

#copyright {
  background-color: #191919;
}

.copyright-part {
  padding: 25px 0;
  border-top: 2px solid #666;
}

.copyright-part .copyright-heading {
  display: flex;
  text-align: center;
  display: block;
}

.copyright-part .copyright-heading h3 {
  color: var(--white);
  font-family: var(--Barlow-Condensed);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.copyright-part .copyright-heading span a {
  color: var(--primary-Color);
  font-family: var(--Barlow-Condensed);
  font-size: 20px;
  display: inline-block;
  font-weight: 400;
}

/**==============================================================================================
                                  ** Copyright Part Css End Here
**==============================================================================================*/
